

<%- include('partials/_header') %> 

<%- include('snippets/navbar') %> 


<div class="container my-5">
    <h1>Login success</h1>
    <p>To be redirected to the API, click on <a href="/api"><em>API</em></a></p>
</div>


<%- include('snippets/footer') %> 

<%- include('partials/_footer') %> 