
<%- include('partials/_header') %> 


    <nav class="navbar navbar-link bg-light">
        <a href="/" class="navbar-brand">CRUD Nodejs MySql</a>

        <%- include('snippets/login-register-buttons')  %> 
    </nav>

    

    <div class="container-lg my-5">
        <h1 class="display-4 my-5">Homepage</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis excepturi, fugit soluta ea odit voluptates perspiciatis dolores sed eveniet ut assumenda velit est aspernatur vitae architecto aperiam enim. Voluptatum, suscipit!</p>
        <hr class="my-4">
        <h2>Lorem, ipsum.</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore excepturi quos non. Atque consequuntur, quae quos mollitia laborum reprehenderit repellat autem voluptatibus. Libero perferendis vel deleniti! Praesentium nesciunt, inventore repellendus suscipit hic excepturi ratione cupiditate autem ipsa, mollitia necessitatibus tempore, doloribus eius culpa in ut aut facere omnis! Unde, non.</p>
    </div>

    <%- include('snippets/footer') %> 
    


    <%- include('partials/_header') %> 