<footer>
    <div style="position: absolute; bottom: 25px; left: 45%;">
        <span class="badge badge-pill barge-light container">
            Made by <em></em>Kelvin Vidaurre</em>
        </span>
    </div>
</footer>